html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-color-black);
    background-color: #ffffff;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0;
    padding: 0;
  }

  ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
}

// a:visited{
//   color: inherit;
// }