:root {
  --main-text-color-black: #4b4b4b;
  --headerMenu-text-color: #7aacc5;
  --hero-title-color: #FFFFFF;
  --card-bg-color: #ecf6f8;
--footer-contacts-color: #bedee7;
}

$breakpoint-desk: 1280px;
$breakpoint-tab: 768px;
$breakpoint-mob: 480px;

