<section class="about-us" id="about-us" data-about-us>
  <div class="container">
    <div class="about-us-box">
      <h2 class="about-us__title">Про нас</h2>
      <p class="about-us__text">
        Наша команда професіоналів, яких об’єднує спільна система цінностей та
        створена з метою юридичної підтримки суб’єктів господарювання та
        виробників в сфері фармацевтичної галузі. Один з головних наших
        принципів – орієнтація на клієнтів, індивідуальний підхід, створення
        переваг та довгострокові відносини. Маючи багаторічний досвід, ми
        розробимо найкращу стратегію для вирішення Ваших потреб.
      </p>
      <p
        class="about-us__text about-us__text--hide"
        data-text
      >
        Значний досвід нашої команди у таких питаннях, як
        реєстрація/перереєстрація/внесення змін до реєстраційних досьє
        лікарських засобів, сертифікація виробів медичного призначення,
        легалізація дієтичних добавок, дитячого харчування, реєстрація
        імпортованих косметичних засобів, сертифікація виробництва лікарських
        засобів, реєстрація Торгової Марки, патентування винаходів, тощо дає нам
        впевненність, що ми зможемо значно полегшити Вашу роботу, зекономити Ваш
        час, кошти та взяти на себе вирішення значного об'єму Вашої невідкладної
        роботи з гарантією позитивного результату.
      </p>
      <button class="about-us__btn" type="button" data-btn-more>
        <span class="about-us__btn-text" data-text-more
          >Показати більше</span
        >
      </button>
      <button class="about-us__btn" type="button" data-btn-less>
        <span class="about-us__btn-text is-hidden" data-text-less
          >Показати менше</span
        >
      </button>
    </div>
  </div>
</section>
