<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="benefits__title">Наші переваги</h2>
    <ul class="list benefits__list">
      <li class="benefits__item">
        <div>
          <img
            class="benefits__icon"
            src="./images/benefits/adv1-logo.png"
            alt="Гарантія результату"
          />
        </div>
        <h3 class="benefits__subtitle">Гарантія результату</h3>
        <p class="benefits__text">
          Професіоналізм та оптимальне вирішення поставлених завдань - наше
          кредо
        </p>
      </li>
      <li>
        <div>
          <img
            class="benefits__icon"
            src="./images/benefits/adv2-logo.png"
            alt="Гарантія результату"
          />
        </div>
        <h3 class="benefits__subtitle">Індивідуальний підхід</h3>
        <p class="benefits__text">
          Глибоке вивчення Ваших потреб і захист інтересів згідно законодаства
        </p>
      </li>
      <li>
        <div>
          <img
            class="benefits__icon"
            src="./images/benefits/adv3-logo.png"
            alt="Гарантія результату"
          />
        </div>
        <h3 class="benefits__subtitle">Прозорість</h3>
        <p class="benefits__text">
          Розуміння кожного етапу та звітність протягом всього часу співпраці
        </p>
      </li>
      <li>
        <div>
          <img
            class="benefits__icon"
            src="./images/benefits/adv4-logo.png"
            alt="Гарантія результату"
          />
        </div>
        <h3 class="benefits__subtitle">Зручність</h3>
        <p class="benefits__text">Заощадження Вашого часу та витрат</p>
      </li>
    </ul>
  </div>
</section>
