<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="benefits__title lng-advantages">Наші переваги</h2>
    <ul class="list benefits__list">
      <li class="benefits__item">
        <div class="benefits__iconBox">
          <svg class="benefits__icon">
            <use xlink:href="./images/benefits/symbol-defs.svg#icon-adv1"></use>
          </svg>
        </div>
        <h3 class="benefits__subtitle lng-advantages-card1">Гарантія результату</h3>
        <p class="benefits__text lng-advantages-card1--text">
          Професіоналізм та оптимальне вирішення поставлених завдань - наше
          кредо
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__iconBox">
            <svg class="benefits__icon">
                <use xlink:href="./images/benefits/symbol-defs.svg#icon-adv2"></use>
              </svg>
        </div>
        <h3 class="benefits__subtitle lng-advantages-card2">Індивідуальний підхід</h3>
        <p class="benefits__text lng-advantages-card2--text">
          Глибоке вивчення Ваших потреб і захист інтересів згідно законодаства
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__iconBox">
            <svg class="benefits__icon">
                <use xlink:href="./images/benefits/symbol-defs.svg#icon-adv3"></use>
              </svg>
        </div>
        <h3 class="benefits__subtitle lng-advantages-card3">Прозорість</h3>
        <p class="benefits__text lng-advantages-card3--text">
          Розуміння кожного етапу та звітність протягом всього часу співпраці
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__iconBox">
            <svg class="benefits__icon">
                <use xlink:href="./images/benefits/symbol-defs.svg#icon-adv4"></use>
              </svg>
        </div>
        <h3 class="benefits__subtitle lng-advantages-card4">Зручність</h3>
        <p class="benefits__text lng-advantages-card4--text">Заощадження Вашого часу та витрат</p>
      </li>
    </ul>
  </div>
</section>
