<section class="clients">
    <div class="container">
      <h2 class="clients__title">Наші клієнти</h2>
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><div class="swiper-item"><img class="swiper-item-img" src="./images/clients/frame1.jpg" alt=""></div></div>
          <div class="swiper-slide"><div class="swiper-item"><img class="swiper-item-img" src="./images/clients/frame2.jpg" alt=""></div></div>
          <div class="swiper-slide"><div class="swiper-item"><img class="swiper-item-img" src="./images/clients/frame3.jpg" alt=""></div></div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      
      </div>
    </div>
  </section>
  