<footer class="footer">
    <div class="container">
    <img src="./images/footer/footer-logo.png" alt="sapientis logo">
    <ul>
        <li><svg class="benefits__icon">
            <use xlink:href="./images/footer/symbol-defs.svg#icon-phone"></use>
          </svg></li>
        <li><svg class="benefits__icon">
            <use xlink:href="./images/footer/symbol-defs.svg#icon-letter"></use>
          </svg></li>
        <li><svg class="benefits__icon">
            <use xlink:href="./images/footer/symbol-defs.svg#icon-clock"></use>
          </svg></li>
    </ul>
    </div>
</footer>