<footer class="footer">
  <div class="container">
    <img class="footer__logo" src="./images/footer/footer-logo.png" alt="sapientis logo" />
    <ul class="list footer-contacts__list">
      <li class="footer-contacts__item">
        <a class="footer-contacts__link--phone" href="tel:+380668536308">
            <svg class="footer-contacts__icon">
                <use xlink:href="./images/footer/symbol-defs.svg#icon-phone"></use>
              </svg>
            +38 (066) 853 63 08
        </a>
      </li>
      <li class="footer-contacts__item">
        <a class="footer-contacts__link--letter" href="mailto:LLCSapientis@gmail.com">
            <svg class="footer-contacts__icon">
                <use xlink:href="./images/footer/symbol-defs.svg#icon-letter"></use>
              </svg>
              LLCSapientis@gmail.com
        </a>
      </li>
      <li class="footer-contacts__item">
        <svg class="footer-contacts__icon">
          <use xlink:href="./images/footer/symbol-defs.svg#icon-clock"></use>
        </svg>
        <p class="footer-contacts__text-time">ПН-ПТ: 09:00 - 20:00</p>
      </li>
    </ul>
  </div>
</footer>
