<header class="header" id="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html">
        <img
          src="./images/header/header-logo.png"
          alt="sapientis logo"
          class="logo__img"
        />
      </a>
      <button
        class="mob-menu"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg width="40" height="40" aria-label="Меню">
          <use
            class="mob-menu__open"
            xlink:href="./images/header/symbol-defs.svg#mob-menu"
          ></use>
          <use
            class="mob-menu__close"
            xlink:href="./images/header/symbol-defs.svg#mob-close"
          ></use>
        </svg>
      </button>
      <div class="menu-container" id="menu-container" data-menu>
        <ul class="list header-navList">
          <li class="header-navList__item">
            <a class="header-navList__link" href="#hero" data-main>Головна</a>
          </li>
          <li class="header-navList__item">
            <a class="header-navList__link" href="#about-us" data-about>Про нас</a>
          </li>
          <li class="header-navList__item">
            <a class="header-navList__link" href="#servises" data-services>Наші послуги</a>
          </li>
          <li class="header-navList__item">
            <a class="header-navList__link" href="#benefits" data-benefits>Переваги</a>
          </li>
        </ul>
        <ul class="list header-contactsList">
          <li class="header-contactsList__item">
            <a
              class="header-contactsList__link--letter"
              href="mailto:LLCSapientis@gmail.com"
            >
              <svg class="mail-icon">
                <use
                  xlink:href="./images/header/symbol-defs.svg#icon-letter"
                ></use>
              </svg>
              LLCSapientis@gmail.com
            </a>
          </li>
          <li class="header-contactsList__item">
            <a
              class="header-contactsList__link--phone"
              href="tel:+380668536308"
            >
              <svg class="phone-icon">
                <use
                  xlink:href="./images/header/symbol-defs.svg#icon-phone"
                ></use>
              </svg>
              +38 (066) 853 63 08
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-container__desk">
        <ul class="list header-navList--desk">
          <li class="header-navList__item--desk">
            <a class="header-navList__link--desk" href="#hero" data-main>Головна</a>
          </li>
          <li class="header-navList__item--desk">
            <a class="header-navList__link--desk" href="#about-us" data-about>Про нас</a>
          </li>
          <li class="header-navList__item--desk">
            <a class="header-navList__link--desk" href="#servises" data-services>Наші послуги</a>
          </li>
          <li class="header-navList__item--desk">
            <a class="header-navList__link--desk" href="#benefits" data-benefits>Переваги</a>
          </li>
        </ul>
        <ul class="list header-contactsList">
          <li class="header-contactsList__item">
            <a
              class="header-contactsList__link--letter"
              href="mailto:LLCSapientis@gmail.com"
            >
              <svg class="mail-icon">
                <use
                  xlink:href="./images/header/symbol-defs.svg#icon-letter"
                ></use>
              </svg>
              LLCSapientis@gmail.com
            </a>
          </li>
          <li class="header-contactsList__item">
            <a
              class="header-contactsList__link--phone"
              href="tel:+380668536308"
            >
              <svg class="phone-icon">
                <use
                  xlink:href="./images/header/symbol-defs.svg#icon-phone"
                ></use>
              </svg>
              +38 (066) 853 63 08
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
