<section class="services" id="servises">
<div class="container">
    <h2 class="services__title">Наші послуги</h2>
    <div class="services-registartionBox">
        <h3 class="services__subtitle">Реєстрація</h3>
    </div>
    <ul class="list services__list ">
        <li class="services__item"><p class="services__text">Реєстрація/перереєстрація /внесення змін до реєстраційного досьє</p></li>
        <li class="services__item"><p class="services__text">Легалізація імпортованої косметичної продукції</p></li>
        <li class="services__item"><p class="services__text">Легалізація дієтичних добавок, дитячого харчування</p></li>
        <li class="services__item"><p class="services__text">Сертифікація виробів медичного призначення</p></li>
    </ul>
</div>
</section>