<section class="services" id="servises">
  <div class="container">
    <h2 class="services__title">Наші послуги</h2>
    <div class="services-registartionBoxTitle">
      <h3 class="services__subtitle">Реєстрація</h3>
    </div>
    <div class="flip__box">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Реєстрація/перереєстрація /внесення змін до реєстраційного досьє
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Реєстраційне посвідчення на зареєстрований/перереєстрований
              лікарський засіб; вкладка зі змінами до реєстраційного досьє
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Легалізація імпортованої косметичної продукції
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Висновок та Додаток до Висновку державної
              санітарно-епідеміологічної експертизи. Звіт про науково-дослідну
              роботу.Затверджений текст для маркування (етикування) продукту
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Легалізація дієтичних добавок, дитячого харчування
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Висновок та Додаток до Висновку державної
              санітарно-епідеміологічної експертизи. Звіт про науково-дослідну
              роботу. Затверджений текст для маркування (етикування) продукту
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Сертифікація виробів медичного призначення
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Декларація про відповідність з додатком/Сертифікат відповідності/
              внесення інформації до Реєстру осіб, відповідальних за введення
              медичних виробів в обіг
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="services-marketSurveillanceBoxTitle">
      <h3 class="services__subtitle">Забезпечення ринкового нагляду</h3>
    </div>
    <div class="flip__box">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Дотримання вимог якості та безпеки лікарських засобів під час
              обігу на території України
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Дозвіл щодо обігу лікарських засобів , внесення відповідних змін у
              базу Державної служби України з лікарських засобів та контролю за
              наркотиками
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Розробка та узгодження шаблону сертифіката якості для виробника
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Сертифікат якості до лікарського засобу відповідно до вимог
              законодавства України
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">Імплементація упаковок у виробництво</p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Дозвіл щодо обігу упаковки на території України
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">Фармаконагляд</p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Позитивний висновок спеціалізованої експертизи лікарського засобу
              з фармаконагляду, аудиту, тощо
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="services-sertificationBoxTitle">
      <h3 class="services__subtitle">
        Сертифікація виробництва лікарських засобів
      </h3>
    </div>
    <div class="flip__box">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Внесення змін до переліку лікарських засобів при реєстрації в
              Україні
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Оновлений перелік лікарських засобів зареєстрованих або
              запланованих до реєстрації в Україні (додаток до Висновку GMP)
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Розширення переліку лікарських засобів при реєстрації в Україні
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Оновлений перелік лікарських засобів зареєстрованих або
              запланованих до реєстрації в Україні (додаток до Висновку GMP)
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Сертифікація виробництва лікарських засобів на відповідність НВП
              (GMP)
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Висновок відповідності вимогам GMP з переліком лікарських засобів
              зареєстрованих або запланованих до реєстрації в Україні (GMP)
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Визнання ЕС сертифіката відповідності умов виробництва лікарських
              засобів ВНВП (GMP)
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Визнання ЕС сертифікату відповідності вимогам GMP в Україні з
              переліком продукції.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="services-otherBoxTitle">
      <h3 class="services__subtitle">Інші послуги</h3>
    </div>
    <div class="flip__box">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Патентування винаходів та корисних моделей в Україні та за
              кордоном
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Патент для винаходів та корисних моделей в Україні та за кордоном
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Дослідження товарних знаків в Україні та за кордоном
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Інформація для Торгової Марки в Україні та за кордоном
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Реєстрація торговельних марок в Україні та за кордоном
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">ТМ в Україні та за кордоном</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="services__text">
              Профессійний переклад, легалізація документації, тощо
            </p>
          </div>
          <div class="flip-card-back">
            <p class="services__text--back">
              Здійснення медичних перекладів: технічної документації,
              інструкцій, ліцензій, Сертифікатів тощо
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
