.footer{
    max-width: 480px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color:#7aacc5;
    @media screen and (min-width:$breakpoint-tab){
        max-width: 768px;
    }
    @media screen and (min-width:$breakpoint-desk) {
        max-width: 1600px;
    }
}

.footer__logo{
    margin: 0 auto 50px auto;
}

.footer-contacts__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media screen and (min-width:$breakpoint-desk) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    }
}
.footer-contacts__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
   // align-items: center;
}
.footer-contacts__icon{
    width: 30px;
    height: 30px;
}

.footer-contacts__link--letter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    color: var(--footer-contacts-color);
    @include font(400, 20, 30, none);
    text-transform: uppercase;
}
.footer-contacts__link--phone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    color: var(--footer-contacts-color);
    @include font(400, 20, 30, none);
}

.footer-contacts__text-time{
    color: var(--footer-contacts-color);
    @include font(400, 20, 30, none); 
}